@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/wallpaper.jpeg");
  background-repeat: no-repeat, repeat;
  background-color: #6EC1E4;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Turtles";
  src: url("../public/fonts/Turtles.otf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}
